.mikepad-loading {
  width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pad {
  width: 50px;
  height: 60px;
  border: 2px solid #9CA3AF;
  padding: 5px;
  margin: 0 auto;
}

.line {
  width: 36px;
  margin-top: 9px;
  border-top: 2px solid #9CA3AF;
  opacity: 0;
  animation: writeline 3s infinite ease-in;
}

.line:first-child {
  margin-top: 0;
}

.line1 {
  animation-delay: 0s;
}

.line2 {
  animation-delay: 0.5s;
}

.line3 {
  animation-delay: 1s;
}

.line4 {
  animation-delay: 1.5s;
}

.line5 {
  animation-delay: 2s;
}

@keyframes writeline {
  0% { width: 0px; opacity: 0; }
  33% { width: 36px; opacity: 1; }
  70% { opacity: 1; }
  100% { opacity: 0; }
}
